input[type="text"] {
  background-color: #a97df9;
  border: none;
  border-radius: 15px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 800px;
  height: 35px;
  padding: 0.2rem;
}

textarea {
  background-color: #a97df9;
  border: none;
  border-radius: 15px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 90%;
  resize: none;
  width: 90%;
}

Image {
  overflow: hidden;
}

.chatbotArea {
  margin-left: 5%;
  margin-right: auto;
}

.chatbotTextArea {
  background-color: #a97df9;
  border: none;
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 400px;
  resize: none;
  width: 800px;
  overflow-y: scroll;
  display: block;
  flex-direction: column-reverse;
  white-space: pre-line;
  padding: 0.2rem;
}

.chatbotTextArea::-webkit-scrollbar {
  width: 15px;
  background-color: #a97df9;
  border-radius: 15px;
}

.chatbotTextArea::-webkit-scrollbar-track {
  border-radius: 15px;
}

.chatbotTextArea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #8c51f6;
}

.promptTextArea {
  background-color: #a97df9;
  border: none;
  border-radius: 15px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  resize: none;
  width: 50%;
}

.promptResponseArea {
  background-color: #a97df9;
  border: none;
  border-radius: 15px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  resize: none;
  width: 95%;
}

.promptResponseArea::-webkit-scrollbar {
  width: 15px;
  background-color: #a97df9;
  border-radius: 15px;
}

.promptResponseArea::-webkit-scrollbar-track {
  border-radius: 15px;
}

.promptResponseArea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #8c51f6;
}

.promptSummaryResponseArea {
  background-color: #a97df9;
  border: none;
  border-radius: 15px;
  display: block;
  margin-right: auto;
  margin-left: 5%;
  height: 80%;
  resize: none;
  width: 50%;

}

.promptSummaryResponseArea::-webkit-scrollbar {
  width: 15px;
  background-color: #a97df9;
  border-radius: 15px;
}

.promptSummaryResponseArea::-webkit-scrollbar-track {
  border-radius: 15px;
}

.promptSummaryResponseArea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #8c51f6;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4rem 18rem 8rem;
  background-color: #c4a6fb;
  padding: 5;
  gap: 25px;
}

.grid-container>div {
  background-color: #c4a6fb;
  text-align: center;
  padding: 1px 0;
}

.chatRow {
  margin: 0;
  padding: 0;
  border: none;
  margin-right: 0;
  margin-left: 0;
}

.chatIconMessage {
  margin: 0;
  width: 3%;
  vertical-align: top
}

.chatMessage {
  margin: 0;
  text-align: left;
}

.chatCollapsibleMessage {
  margin: 0;
  text-align: left;

}

.typePromptItem {
  grid-column-start: 1;
  grid-column-end: 3;
}

.promptResponseItem {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  margin-left: 30%;
}

.imagePromptResponseItem {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-right: 40%;
}

.promptSummaryResponseItem {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

input[type="text"]:focus,
textareafield:focus,
textarea:focus {
  outline: none;
}

body {
  background: #c4a6fb;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}